:root {
    --azulEscuro: #12045B;
    --azulEsverdeado: #0097B2;
    --azulEsverdeadoII: #055F70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: "Raleway", sans-serif !important;
    font-size: 17px !important;
}

.bg-blue {
    background-color: #0097B2 !important;
}

.bg-blue-two {
    background-color: #52919C !important;
}

.bg-dark-blue {
    background-color: #12045B !important;
}

.bg-gray {
    background-color: #E3E3E3;
}

.bg-image {
    background-image: url('imgs/fundo-imagem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-w-500 {
    width: 100% !important;
    max-width: 500px !important;
    min-width: 100px !important;
}

.btn-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none;
    border-width: 0px !important;
}

.border-under {
    border-bottom: 1px solid gray;
}

.text-blueTwo {
    color: #055f70;
}

.text-shadow-default {
    text-shadow: 2px 2px 2px black;
}

.text-shadow-two {
    text-shadow: 1px 1px 1px black;
    font-weight: 800;
}

.fs-0 {
    font-size: 65px !important;
}

.fs-m {
    font-size: 55px !important;
}

.fs-P {
    font-size: 18px !important;
}

.text-pink {
    color: #ff005c;
}

.headerWrapperNavegacao {
    color: #055F70;
    height: 40px;
    padding: 0 !important;
}

.hover-effect:hover {
    background-color: #12045B;
    color: white;
}

.hover-effect-underline:hover {
    text-decoration: underline !important;
    font-weight: 800 !important;
}

.hover-effect-destacar:hover {
    text-shadow: 2px 2px 5px rgba(66, 63, 63, 0.5);

}

.button-login {
    z-index: 5;
}

.carousel-wrapper {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    text-align: center;
    color: white;
    z-index: 3;
}

.fonte-darkBlue {
    color: #12045b !important;
}

#serviços .icon {
    max-width: 90px;
    width: 100%;
    opacity: 40%;
}

.gradient-custom-2 {
    background: linear-gradient(to right, #A6E2F6, #52B8DA, #319DC1);
}

.gradient-custom-3 {
    background: linear-gradient(to right, #52B8DA, #319DC1);
}

.subtitulo {
    font-size: 11px;
}

.card-body {
    flex: none !important;
    width: 60%;
}

.bg-gradiente {
    position: relative;
    overflow: hidden;
}

.bg-gradiente-header {
    position: relative;
    overflow: hidden;
}

.bg-gradiente::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('imgs/Pattern.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.05;
    z-index: 1;
}

.bg-gradiente-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('imgs/Pattern-header.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 1.9%;
    opacity: 0.05;
    z-index: 1;
}

.bg-gradiente-header>* {
    position: relative;
    z-index: 2;
}

.bg-gradiente>* {
    position: relative;
    z-index: 2;
}

#mensagem {
    max-width: 340px;
    text-align: left;
}

@media (max-width: 920px) {
    .carrosel-inicial h2 {
        font-size: 45px !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none !important;
    }
}

@media (max-width: 768px) {
    footer {
        display: inline-block;
        justify-content: center !important;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 713px) {
    .carrosel-inicial h2 {
        font-size: 45px !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none !important;
    }

    ul li {
        font-size: 70% !important;
    }
}

@media (max-width: 560px) {

    ul {
        padding-left: 3px !important;
    }

    .fs-m {
        font-size: 30px !important
    }

    .menuOpcoes {
        display: none;
    }

    .headerWrapperNavegacao {
        justify-content: space-around;
    }

    .card-text,
    .card-title {
        font-size: 13px !important;
    }

    #serviços div {
        padding: 0 !important;
        padding-top: 2% !important;
        margin: 0 !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }
}